/* Styles */
#app {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4d4d4d;
	min-width: 550px;
	max-width: 850px;
	margin: 0 auto;
}

a.active {
	color: orange;
	font-size: 14px;
}

nav {
	padding-top: 20px;
}

.test {
	color: yellow;
	background-color: blue;
	cursor: pointer;
	font-weight: 900;
}
.test:hover {
	color: orange;
	background-color: blue;
}
